@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');
$font : "Times New Roman", Times, serif;
$primary_color :  #103E3F;
$second_color: #F1F1F1;
